---
import { removeLeadingSlash,  getLanguageFromURL} from '~/util';
import { getNavigationMenu } from '~/util/getNav';
import { useTranslations } from '~/i18n/util';
import SidebarPanelMenu from '../sidebarpanelmenu/SidebarPanelMenu.vue';

export interface Props {
	currentPage: string;
	menuType: string;
}

const t = useTranslations(Astro);
const lang = getLanguageFromURL(Astro.url.pathname);

const { currentPage, menuType = 'nav' } = Astro.props as Props;
const currentPageMatch = removeLeadingSlash(currentPage);

const sidebarSections = (await getNavigationMenu(Astro, menuType)).reduce((collection, item) => {
	collection.push({...item});
	return collection;
}, []);
---

<nav aria-label={t('leftSidebar.a11yTitle')}>
	<SidebarPanelMenu
		lang={lang}
		client:only="vue"
		data={sidebarSections.map((item) => {
			item.hasLabel = item.hasLabel ? t(item.hasLabel) : '';
			return item;
		})}
		currentPageMatch={currentPageMatch} />
</nav>

<!--
<script is:inline>
// Preserve sidebar scroll across page loads
{
	const leftSidebar = document.querySelector('.nav-groups');
	const leftSidebarScroll = localStorage.getItem('sidebar-scroll');
	if (leftSidebarScroll !== null) {
		leftSidebar.scrollTop = parseInt(leftSidebarScroll, 10);
	}
	window.addEventListener('beforeunload', () => {
		localStorage.setItem('sidebar-scroll', leftSidebar.scrollTop);
	});
}
</script>
-->

<style lang="scss">
	nav {
		height: 100%;
		overflow-x: hidden;
		scrollbar-gutter: stable;
	}
</style>
