	.hide-item-desktop {
		@media (min-width: 50em) {
			display: none !important;
		}
	}

	.list-border-bottom {
		border-bottom: 1px solid var(--theme-bg-offset);
	}

	.list-border-left {
		border-left: 2px solid var(--theme-bg-offset);
		margin-left: .5rem;
	}


	.nav-group {
		line-height: 21px;
		padding: .5rem 0;

		a {
			display: flex;
		}
		
		.overline {
			font-size: 0.75rem;
			font-weight: 400;
			color: var(--color-orange);
			text-transform: uppercase;
			letter-spacing: .5em;
			padding: 0.5rem;
		}
	}

	.nav-group .placeholder {
		opacity: 0.6;
		text-align: center;
		display: block;
	}

	@media (max-width: 49.9em) {
		.nav-group {
			padding-inline-start: .5rem;
		}

		.sm-hidden {
			display: none !important;
		}

		.nav-group-title h2 {
			max-width: 100%;
			text-indent: 2px;
			justify-content: space-between;
			margin-bottom: 0;
		}
	}

	@media (min-width: 50em) {
		.nav-group {
			display: none;
		}
	}

	.nav-group.active {
		display: block;
	}

	.nav-group-title {
		font-weight: 600;

		h2 {
			font-size: 1em;
			display: flex;
			align-items: center;
			padding: 0 0.5rem;
			text-indent: 2px;
		}

		&:hover {
			background-color: var(--theme-bg-accent);
			border-radius: 4px;
		}
	}

	.nav-link-title a {
		width: 100%;
		font: inherit;
		color: var(--theme-text);
		text-decoration: none;
		line-height: 200%;
		margin-right: 0.5rem;
		text-indent: 2px;

		&[aria-current='page'],
		&[data-current-parent='true'] {
			color: var(--color-orange);
			/* Indicates the current page for forced colors users in older browsers */

			&:focus {
				outline: 2px solid;
			}
		}

		@media (forced-colors: active) {

			&[aria-current='page'],
			&[data-current-parent='true'] {
				border: 1px solid LinkText;
			}
		}
	}

	li.nav-link {
		margin-bottom: .75rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.nav-link {
		padding: 0.3rem 1rem;

		&[data-current-page="true"] {
			border-left: 2px solid var(--color-orange);
			margin-left: -2px;
		}
	}

	.nav-link a, .nav-link details summary h2 {
		width: 100%;
		margin: 1px;
		font: inherit;
		font-size: 14px;
		color: var(--theme-text-lighter);
		text-decoration: none;
		padding: 2px 1rem;
		line-height: 200%;

		&:hover {
			background-color: var(--theme-bg-accent);
			border-radius: 4px;
		}

		&[aria-current='page'],
		&[data-current-parent='true'] {
			color: var(--color-orange) !important;
			/* Indicates the current page for forced colors users in older browsers */
			outline: 1px solid transparent;

			&:focus {
				outline: 2px solid;
			}
		}

		@media (forced-colors: active) {

			&[aria-current='page'],
			&[data-current-parent='true'] {
				border: 1px solid LinkText;
			}
		}
	}

	@media (min-width: 50em) {
		.nav-group-title {
			justify-content: space-between;

			h2 {
				margin: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				line-height: 200%;
			}
		}

		.nav-link {
			padding: 0;
		}

		.nav-link a, .nav-link details summary h2 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	:global(:root.theme-dark) .nav-link a[aria-current='page'],
	:global(:root.theme-dark) .nav-link a[data-current-parent='true'] {
		color: hsla(var(--color-base-white), 100%, 1);
	}

	.fallback {
		font-size: 0.75em;
		line-height: 1;
		font-weight: bold;
		color: var(--theme-text-light);
	}

	details>summary {
		color: var(--theme-text);
		list-style: none;
	}

	details>summary::marker,
	details>summary::-webkit-details-marker {
		display: none;
	}

	details[open]>summary svg {
		transform: rotate(90deg);

	}

	.focus-item {
		color: var(--color-orange) !important;
	}

	details[open]>summary h2 {
		/* Indicates the current page for forced colors users in older browsers */

		&:focus {
			outline: 2px solid;
		}
	}

	summary {
		cursor: pointer;
	}

	summary h2 {
		font-size: 1rem !important;
		margin: 0;
		padding: 0;
	}

	svg {
		transform: rotate(0);
		transition: 0.15s transform ease;
		vertical-align: middle;
	}

	:global([dir='rtl']) svg {
		transform: rotate(180deg);
	}

	details svg path {
		fill: currentColor;
	}

	.nav-link-title svg path, .nav-link-highlight svg path, .nav-item-children svg path {
		fill: none
	}

	.nav-link-highlight {
		font-weight: bold;
		width: 100%;
    margin: 1px;
		font-size: 14px;
    color: var(--theme-text-lighter);
		text-decoration: none;
    padding: 2px 0.5rem;
    line-height: 200%;
		margin-bottom: 1.25rem;
		margin-top: .5rem;

		&:hover {
			color: var(--theme-text-lighter);
			background-color: var(--theme-bg-accent);
			border-radius: 4px;
		}

		&[aria-current='page'],
		&[data-current-parent='true'] {
			color: var(--color-orange);
			/* Indicates the current page for forced colors users in older browsers */

			&:focus {
				outline: 2px solid;
			}
		}

	}
