.card {
	padding: 1.5rem 2.5rem;
	background-color: var(--theme-card-bg);
	border-radius: 4px;
	height: 100%;
	width: 100%;
	transition: box-shadow .3s ease;
	text-decoration: none;
	display: block;
}

.card:hover {
	box-shadow: 0px 1.2px 2.5px var(--theme-card-shadow);
	text-decoration: none;
}

.box-text {
	margin-top: 0.875rem;
	margin-bottom: 0.625rem
}

.card-title {
	color: var(--theme-text);
	font-weight: 500;
	font-size: clamp(1.125rem, 1.0938rem + 0.1563vw, 1.25rem);
}

.card-description {
	color: var(--theme-text-light);
}