.card-homepage {
	padding: 1.5rem 2.5rem;
	background-color: var(--theme-card-bg);
	border-radius: 4px;
	min-height: 300px;
	transition: box-shadow .3s ease;
	text-decoration: none;
	display: block;
}

.card-homepage:hover {
	outline: 1px solid var(--theme-card-shadow);
	text-decoration: none;
}

.box-text {
	margin-top: 0.875rem;
	margin-bottom: 0.625rem
}

.card-homepage-title {
	color: var(--theme-text);
	font-weight: 500;
	font-size: clamp(1.125rem, 1.0938rem + 0.1563vw, 1.25rem);
}

.card-homepage-description {
	color: var(--theme-text-lighter);
}
