@import '../../styles/breakpoints';

.mb-2 {
	margin-bottom: 2rem;
}

.list-title {
	font-weight: 400;
}

.list-container {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0 !important;
}

.list-item {
	display: flex;
	margin-top: 0;
	margin-bottom: 3rem;
	margin-right: 1rem;
	flex: 0 0 40%;
	max-width: 40%;

	@include media-breakpoint-down(sm) {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
