* @aziontech/experience-engineering

src/content/docs/**/*.md @aziontech/product-marketing-documentation @aziontech/product-management
src/i18n/**/*.ts @aziontech/product-marketing-documentation @aziontech/product-management
