.TabGroup {
	display: flex;
	border-bottom: none !important;
}

.TabGroup button,
.TabGroup a {
	flex: 1;
	justify-content: center;
	white-space: nowrap;
	border-radius: 0;
	cursor: pointer;
	padding: 0.6rem 1rem;
	color: var(--tabgroup-white);
	border-bottom: 4px solid transparent;
	background-color: transparent;
	text-decoration: none;
}

.border {
	border-bottom: 4px solid var(--theme-bg-hover);
	margin-top: -4px;
}

.TabGroup .active,
.TabGroup [aria-selected='true'] {
	font-weight: bold;
}


.TabGroup.no-flex button,
.TabGroup.no-flex a {
	flex: 0;
}

._tablist_ugdi6_34 {
    border-color: transparent !important;
  }

.TabGroup > span{
    color: var(--tabgroup-orange-500) !important;
    height: 10px !important;  
    background: var(--tabgroup-orange-500) !important;
}
._tab-scroll-overflow_ugdi6_10 > .border {
    border-color: var(--tabgroup-neutral-800) !important;
}