/*
	Define common sizes and spacings
*/

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-light.eot');
	src: url('https://fonts.azion.com/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-light.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-light.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-light.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-light.svg#roboto-light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-regular.eot');
	src: url('https://fonts.azion.com/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-regular.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-regular.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-regular.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-regular.svg#Roboto-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-italic.eot');
	src: url('https://fonts.azion.com/roboto/roboto-italic.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-italic.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-italic.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-italic.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-italic.svg#roboto-italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-medium.eot');
	src: url('https://fonts.azion.com/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-medium.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-medium.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-medium.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-medium.svg#roboto-medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-mediumitalic.eot');
	src: url('https://fonts.azion.com/roboto/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-mediumitalic.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-mediumitalic.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-mediumitalic.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-mediumitalic.svg#roboto-mediumitalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-bold.eot');
	src: url('https://fonts.azion.com/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-bold.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-bold.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-bold.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-bold.svg#roboto-bold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-bold.eot');
	src: url('https://fonts.azion.com/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-bold.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-bold.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-bold.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-bold.svg#roboto-bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-bolditalic.eot');
	src: url('https://fonts.azion.com/roboto/roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.svg#roboto-bolditalic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-bolditalic.eot');
	src: url('https://fonts.azion.com/roboto/roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-bolditalic.svg#roboto-bold') format('svg');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.azion.com/roboto/roboto-black.eot');
	src: url('https://fonts.azion.com/roboto/roboto-black.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.azion.com/roboto/roboto-black.woff2') format('woff2'),
		url('https://fonts.azion.com/roboto/roboto-black.woff') format('woff'),
		url('https://fonts.azion.com/roboto/roboto-black.ttf') format('truetype'),
		url('https://fonts.azion.com/roboto/roboto-black.svg#roboto-black') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--theme-navbar-height: 4rem;
	--theme-mobile-toc-height: 4rem;
	--theme-left-sidebar-width: 18.75rem;
	--theme-right-sidebar-width: 20%;
	/*
		Minimum visual horizontal spacing from the edges of the viewport,
		and between vertically arranged elements
	*/
	--min-spacing-inline: 1rem;
	/* Vertical spacing around the article content and the right sidebar */
	--doc-padding-block: 0.5rem;
	--max-width: 100%;
	--cur-viewport-height: 100vh;
	/* Font sizes */
	--theme-text-lg: 1.25rem;
	--theme-text-base: 1rem;
	--theme-text-sm: 0.9375rem;
	--theme-text-xs: 0.875rem;
	/* Animation helpers */
	--theme-ease-bounce: cubic-bezier(0.4, 2.5, 0.6, 1);
}

@media (min-width: 50em) {
	:root {
		--theme-navbar-height: 6rem;
		--min-spacing-inline: 1.5rem;
		--doc-padding-block: 1rem;
		--max-width: 46em;
		--theme-text-sm: 0.875rem;
		--theme-text-xs: 0.8125rem;
	}
}

/* Use dynamic viewport height if the unit is supported by the browser */
@supports (height: 100dvh) {
	:root {
		--cur-viewport-height: 100dvh;
	}
}

/*
	Define common fonts and colors
*/
:root,
::backdrop {
	--font-body: 'Roboto';
	--font-mono: 'Roboto Mono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

	/*
		Variables with --color-base prefix define
		the hue, and saturation values to be used for
		hsla colors.

		Example:
		--color-base-{color}: {hue}, {saturation};
	*/

	--color-base-white: #FFFFFF;
	--color-base-black: #000000;
	--color-base-gray: 250, 14%;
	--color-base-blue: 212, 100%;
	--color-base-blue-dark: 212, 72%;
	--color-base-teal: 180, 80%;
	--color-base-green: 158, 79%;
	--color-base-orange: 22, 100%;
	--color-base-purple: 269, 79%;
	--color-base-red: 351, 100%;
	--color-base-yellow: 41, 100%;

	--text-super-light: var(--color-base-white);

	/*
		///////////////////
        //  GRAY SCALE   //
        ///////////////////
	*/

	--color-gray-5: var(--az-gray-50, #F2F2F2);
	--color-gray-10: var(--az-gray-75, #FAFAFA);
	--color-gray-20: var(--az-gray-100, #E5E5E5);
	--color-gray-30: var(--az-gray-200, #CCCCCC);
	--color-gray-40: var(--az-gray-400, #999999);
	--color-gray-50: var(--az-gray-500, #808080);
	--color-gray-60: var(--az-gray-600, #666666);
	--color-gray-70: var(--az-gray-700, #4D4D4D);
	--color-gray-80: var(--az-gray-800, #333333);
	--color-gray-90: var(--az-gray-900, #1E1E1E);
	--color-gray-95: var(--az-gray-950, #0D0D0D);
	
	--color-gray-custom: #151515;
	--color-text-medium-light: #B2B2B2;

	--color-blue: var(--color-base-blue), 61%;
	--color-blue-dark: var(--color-base-blue-dark), 39%;
	--color-green: var(--color-base-green), 42%;
	--color-orange: var(--az-orange-500, #F3652B);
	--color-orange-variant: var(--azc-primary-variant, #CC5500);
	--orange-orange-900: #2B1208;
	--color-orange-200: #FAB99E;
	--color-orange-300: #F7966E;
	--color-orange-50: #FEEDE7;
	--color-purple: var(--color-base-purple), 54%;
	--color-red-400: var(--az-red-400, #FF4141);
	--color-yellow: var(--color-base-yellow), 59%;
	--azn-silver: #C8C8C8;
}

:root,
::backdrop {
	color-scheme: light;
	--theme-accent: var(--color-orange);
	--theme-accent-secondary: var(--color-orange);
	--theme-dim: var(--color-gray-70);
	--theme-scrollbar-track: var(--color-gray-5);
	--theme-dim-light: var(--color-gray-10);
	--theme-dim-lighter: hsla(var(--color-gray-90), 1);
	--theme-accent-opacity: 0.1;
	--theme-divider: var(--color-gray-5);
	--theme-shade-subtle: var(--color-gray-95);
	--theme-text: var(--color-gray-90);
	--theme-text-light: var(--color-gray-60);
	--theme-text-lighter: var(--color-gray-80);
	--theme-text-medium: var(--color-text-medium-light);
	--theme-bg: var(--color-base-white);
	--theme-bg-gradient-top: var(--theme-bg);
	--theme-bg-gradient-bottom: #fdfeff;
	--theme-bg-hover: var(--color-gray-10);
	--theme-bg-offset: var(--color-gray-5);
	--theme-bg-accent: var(--color-gray-10);
	--theme-backdrop-overlay: hsla(var(--color-gray-50), 0.8);
	--theme-code-inline-bg: var(--color-gray-20);
	--theme-code-inline-text: var(--theme-text);
	--theme-code-bg: var(--color-gray-80);
	--theme-code-tabs: var(--color-gray-70);
	--theme-code-text: var(--color-base-white);
	--theme-navbar-bg: var(--theme-bg);
	--theme-card-bg: var(--color-gray-10);
	--theme-card-shadow: var(--color-gray-80);
	--theme-selection-color: var(--color-gray-90);
	--theme-selection-bg: var(--color-orange-200);
	--theme-border: var(--color-gray-90);
	--theme-code-selection-bg: hsla(var(--color-purple), 0.4);
	--theme-code-mark-bg: hsl(226, 50%, 33%);
	--theme-code-mark-border: hsl(224, 50%, 54%);
	--theme-code-ins-bg: hsl(122, 22%, 23%);
	--theme-code-ins-border: hsl(128, 42%, 38%);
	--theme-code-ins-text: hsl(128, 31%, 65%);
	--theme-code-del-bg: hsl(338, 40%, 26%);
	--theme-code-del-border: hsl(338, 46%, 53%);
	--theme-code-del-text: hsl(338, 36%, 70%);
	--theme-background: var(--color-base-white);
	--theme-hover-button: var(--color-base-black);
	--theme-bg-variant: var(--color-gray-90);
	--theme-header-btn: var(--color-gray-80);

	--theme-bg-gradient: linear-gradient(180deg,
			var(--theme-bg-gradient-top),
			var(--theme-bg-gradient-top) calc(var(--theme-navbar-height) + var(--theme-mobile-toc-height)),
			var(--theme-bg-gradient-bottom));

	--theme-glow-highlight: var(--color-gray-90);
	--theme-glow-diffuse: transparent;
	--theme-glow-blur: 10px;
	--theme-caution: var(--color-orange-50);
	--text-aside: var(--color-gray-60);
}

:root.theme-dark,
.theme-dark ::backdrop {
	color-scheme: dark;
	--theme-accent: var(--color-orange);
	--theme-accent-opacity: 0.4;
	--theme-accent-secondary: var(--color-orange-variant);
	--theme-text-accent: hsla(var(--color-orange), 1);
	--theme-scrollbar-track: var(--color-gray-90);
	--theme-dim: var(--color-gray-90);
	--theme-dim-light: var(--color-gray-80);
	--theme-dim-lighter: hsla(var(--color-gray-90), 0.1);
	--theme-divider: var(--color-base-white);
	--theme-shade-subtle: var(--color-base-white);
	--theme-text: var(--color-gray-10);
	--theme-text-light: var(--color-base-white);
	--theme-text-lighter: var(--color-gray-20);
	--theme-text-medium: var(--color-gray-60);
	--theme-bg: var(--color-gray-95);
	--theme-bg-gradient-top: var(--theme-bg);
	--theme-bg-gradient-bottom: hsl(251, 29%, 11%);
	--theme-bg-hover: var(--color-gray-custom);
	--theme-bg-offset: var(--color-gray-90);
	--theme-bg-accent: var(--color-gray-custom);
	--theme-backdrop-overlay: hsla(var(--color-gray-10), 0.8);
	--theme-code-inline-bg: var(--color-gray-90);
	--theme-code-inline-text: var(--theme-text-light);
	--theme-code-bg: var(--color-gray-80);
	--theme-code-tabs: var(--color-gray-70);
	--theme-code-text: var(--color-base-white);
	--theme-navbar-bg: var(--theme-bg);
	--theme-card-bg: var(--color-gray-custom);
	--theme-card-shadow: var(--color-gray-20);
	--theme-border: var(--color-base-white);
	--theme-selection-color: var(--color-gray-90);
	--theme-code-mark-bg: hsl(224, 60%, 25%);
	--theme-code-mark-border: hsl(225, 42%, 46%);
	--theme-code-ins-bg: hsl(122, 29%, 17%);
	--theme-code-ins-border: hsl(128, 41%, 32%);
	--theme-code-ins-text: hsl(128, 31%, 55%);
	--theme-code-del-bg: hsl(337, 47%, 19%);
	--theme-code-del-border: hsl(340, 34%, 43%);
	--theme-code-del-text: hsl(340, 24%, 65%);
	--theme-background: var(--color-gray-70);
	--theme-hover-button: var(--color-base-white);
	--theme-glow-highlight: var(--color-gray-90);
	--theme-glow-diffuse: transparent;
	--theme-selection-bg: var(--color-orange-300);
	--theme-caution: var(--orange-orange-900);
	--text-aside: var(--color-text-medium-light);
	--theme-bg-variant: var(--color-gray-95);
	--theme-header-btn: var(--color-gray-90);

}

::selection {
	color: var(--theme-selection-color);
	background-color: var(--theme-selection-bg);
}
