---
import UIString from '../UIString.astro';
import { getLanguageFromURL } from '~/util';

export interface Props {
	hideOnLargerScreens?: boolean;
}

const { hideOnLargerScreens = false } = Astro.props as Props;

const Wrapper = hideOnLargerScreens ? 'details open' : 'div';

const HeadingWrapper = hideOnLargerScreens ? 'summary' : 'div';
const lang = getLanguageFromURL(Astro.url.pathname);
---

<Wrapper class:list={[{ 'hide-on-large-screens': hideOnLargerScreens }]}>

	<HeadingWrapper>
		<p class="mt-6 mb-3 text-sm">
			<strong>
				<UIString key="rightSidebar.community" />
			</strong>
		</p>
		{
			hideOnLargerScreens && (
				<svg
					class="chevron"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 1 16 16"
					width="16"
					height="16"
					aria-hidden="true"
				>
					<path
						fill-rule="evenodd"
						d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"
					/>
				</svg>
			)
		}
	</HeadingWrapper>

	<ul class="mt-3">
		<li>
			<a class="flex items-center gap-3 leading-7 text-sm depth-2" href="https://discord.com/invite/Yp9N7RMVZy" target="_blank">
				<svg
					aria-hidden="true"
					focusable="false"
					data-prefix="fas"
					data-icon="comment-alt"
					class="svg-inline--fa fa-comment-alt fa-w-16"
					role="img"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					height="1em"
					width="1em"
				>
					<path
						fill="currentColor"
						d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
					>
					</path>
				</svg>
				<span><UIString key="rightSidebar.joinDiscord" /></span>
			</a>
		</li>
		<li>
			<a class="flex items-center gap-3 leading-7 text-sm depth-2" href={`https://www.azion.com/${lang}/blog/`} target="_blank">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					aria-hidden="true"
					role="img"
					width="1em"
					height="1em"
					preserveAspectRatio="xMidYMid meet"
					viewBox="0 0 1024 1024"
				>
					<path
						fill="currentColor"
						d="M928 161H699.2c-49.1 0-97.1 14.1-138.4 40.7L512 233l-48.8-31.3A255.2 255.2 0 0 0 324.8 161H96c-17.7 0-32 14.3-32 32v568c0 17.7 14.3 32 32 32h228.8c49.1 0 97.1 14.1 138.4 40.7l44.4 28.6c1.3.8 2.8 1.3 4.3 1.3s3-.4 4.3-1.3l44.4-28.6C602 807.1 650.1 793 699.2 793H928c17.7 0 32-14.3 32-32V193c0-17.7-14.3-32-32-32zM404 553.5c0 4.1-3.2 7.5-7.1 7.5H211.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45zm0-140c0 4.1-3.2 7.5-7.1 7.5H211.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45zm416 140c0 4.1-3.2 7.5-7.1 7.5H627.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45zm0-140c0 4.1-3.2 7.5-7.1 7.5H627.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45z"
					></path>
				</svg>
				<span><UIString key="rightSidebar.readBlog" /></span>
			</a>
		</li>
		<li>
			<a class="flex items-center gap-3 leading-7 text-sm depth-2" href="https://twitter.com/aziontech" target="_blank">
				<svg
					width="1em"
					height="1em"
					viewBox="0 0 22 18"
					fill="currentColor"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M16.0132 13.9339C18.4272 11.5579 19.7762 8.32476 19.7581 4.95818C19.7581 4.76566 19.7581 4.57417 19.7476 4.38372C20.6294 3.75385 21.3919 2.97528 22 2.0838C21.1773 2.44224 20.3052 2.67771 19.4124 2.78247C20.3505 2.22581 21.0536 1.35323 21.3924 0.325214C20.5046 0.843355 19.5338 1.2081 18.5219 1.40376C17.1251 -0.0625589 14.9072 -0.422587 13.109 0.525067C11.3107 1.47272 10.3779 3.49311 10.8324 5.45605C7.20674 5.2772 3.82706 3.59068 1.52952 0.813766C0.331768 2.84578 0.947748 5.44823 2.93333 6.74471C2.2137 6.72467 1.50948 6.53404 0.88 6.18888V6.24477C0.884568 8.36413 2.40103 10.1863 4.50476 10.6003C3.83852 10.7787 3.13992 10.8049 2.4619 10.6769C3.05909 12.4899 4.75447 13.7289 6.68381 13.7625C5.08352 14.9985 3.11031 15.6694 1.07905 15.668C0.718418 15.6671 0.358141 15.6457 0 15.6039C2.06445 16.9077 4.46408 17.5992 6.91429 17.5964C10.3216 17.6303 13.5991 16.3099 16.0132 13.9339Z"
						fill="currentColor"></path>
				</svg>
				<span><UIString key="rightSidebar.followTwitter" /></span>
			</a>
		</li>
	</ul>
</Wrapper>
