---
import { getLanguageFromURL } from '~/util';
import EditButton from './EditButton.astro';

export interface Props {
	i18nReady: boolean | undefined;
	editHref: string;
}

const { i18nReady, editHref } = Astro.props as Props;

const lang = getLanguageFromURL(Astro.url.pathname);
const isFallback = !!Astro.params.fallback;
const isTranslatable = (lang === 'en' || isFallback) && i18nReady;
---

<div class="flex flex-col gap-2">
	<p class="text-base">
		<strong class="font-medium">
			Github
		</strong>
	</p>
	<EditButton editHref={editHref} />
</div>
