---
export interface Props {
	editHref: string;
}
import UIString from '../UIString.astro';
const { editHref } = Astro.props;
---
<ul class="flex flex-col gap-2">
	<li>
		<a
			class="text-color-secondary text-sm hover:underline"
			href="https://github.com/aziontech/docs/blob/main/README.md"
			target="_blank"
		>
			<i class="pi pi-github mr-1"></i>
			Azion Docs
		</a>
	</li>
	<li>
		<a
			class="text-color-secondary text-sm hover:underline"
			href={editHref} target="_blank"
		>
			<i class="pi pi-pencil mr-1"></i>
			<UIString key="rightSidebar.editPage" />
		</a>
	</li>
</ul>
