---
import TableOfContents from './TableOfContents';
import CommunityMenu from './CommunityMenu.astro';
import ContributeMenu from './ContributeMenu.astro';
import { useTranslations } from '../../i18n/util';
import generateToc from '../../util/generateToc';

const t = useTranslations(Astro);

const { content, headings, githubEditUrl } = Astro.props;
const overview = t('rightSidebar.overview');
---

<nav aria-label={t('rightSidebar.a11yTitle')}>
	{
		headings && (
			<TableOfContents
				client:media="(min-width: 50em)"
				toc={generateToc(headings, overview)}
				labels={{ onThisPage: t('rightSidebar.onThisPage') }}
				isMobile={false}
			/>
		)
	}
	<ContributeMenu i18nReady={content.i18nReady} editHref={githubEditUrl} />
	<CommunityMenu />
</nav>

<style>
	nav {
		width: 100%;
		height: 100%;
		padding-inline-end: 1.5rem;
		overflow: auto;
		font-size: var(--theme-text-xs);
		overflow-x: hidden;
	}
</style>
