
body,
html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  color: var(--text-default);
}

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;
}

.cms-embed * {
  max-width: 100%;
}

.cms-embed iframe {
  width: 100%;
}

.titillium-web * {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

.font-proto-mono {
  font-family: 'Proto Mono', sans-serif;
}

[data-doc-steps] {
	counter-reset: step;
}
[data-step-number]:empty::before {
	counter-increment: step;
	content: counter(step);
}
