@import 'azion-webkit/src/assets/styles/main.css';
@import 'azion-webkit/src/assets/styles/avatar.css';
@import 'azion-webkit/src/assets/styles/breadcrumb.css';
@import 'azion-webkit/src/assets/styles/button.css';
/* @import 'azion-webkit/src/assets/styles/checkbox.css'; */
@import 'azion-webkit/src/assets/styles/divider.css';
/* @import 'azion-webkit/src/assets/styles/hsform.css'; */
/* @import 'azion-webkit/src/assets/styles/input.css'; */
/* @import 'azion-webkit/src/assets/styles/tab-menu.css'; */

.azion.azion-light thead > tr > th {
	background-color: #f5f5f5 !important;
}

.azion.azion-light th,
.azion.azion-light td {
	border-color: #e8e8e8 !important;
}
