$color-black: #000000;
$color-white: #FFFFFF;


///////////////////
//  GRAY SCALE   //
///////////////////


$color-gray-950: var(--az-gray-950, #0D0D0D);
$color-gray-900: var(--az-gray-900, #1E1E1E);
$color-gray-800: var(--az-gray-800, #333333);
$color-gray-700: var(--az-gray-700, #4D4D4D);
$color-gray-600: var(--az-gray-600, #666666);
$color-gray-500: var(--az-gray-500, #808080);
$color-gray-400: var(--az-gray-400, #999999);
$color-gray-300: var(--az-gray-300, #B2B2B2);
$color-gray-200: var(--az-gray-200, #CCCCCC);
$color-gray-100: var(--az-gray-100, #E5E5E5);
$color-gray-75: var(--az-gray-75, #FAFAFA);
$color-gray-50: var(--az-gray-50, #F2F2F2);

$color-dove-gray: var(--azc-dove-gray, #646464); // from old system //


///////////////////
//  BLUE SCALE   //
///////////////////


$color-blue-900: var(--az-blue-900, #030730);
$color-blue-800: var(--az-blue-800, #050F61);
$color-blue-700: var(--az-blue-700, #081691);
$color-blue-600: var(--az-blue-600, #0B1DC1);
$color-blue-500: var(--az-blue-500, #132Af2);
$color-blue-400: var(--az-blue-400, #3E50f4);
$color-blue-300: var(--az-blue-300, #6E7Cf7);
$color-blue-200: var(--az-blue-200, #9EA8FA);
$color-blue-100: var(--az-blue-100, #CFD3FC);
$color-blue-50: var(--az-blue-50, #E7E9FD);


///////////////////
//  RED SCALE   //
///////////////////


$color-red-900: var(--az-red-900, #350D0D);
$color-red-800: var(--az-red-800, #5D1818);
$color-red-700: var(--az-red-700, #862222);
$color-red-600: var(--az-red-600, #AF2C2C);
$color-red-500: var(--az-red-500, #E32B2B);
$color-red-400: var(--az-red-400, #FF4141);
$color-red-300: var(--az-red-300, #FF6666);
$color-red-200: var(--az-red-200, #FF9999);
$color-red-100: var(--az-red-100, #FFCCCC);
$color-red-50: var(--az-red-50, #FFE5E5);


///////////////////
// ORANGE SCALE  //
///////////////////


$color-orange-900: var(--az-orange-900, #2B1208);
$color-orange-800: var(--az-orange-800, #562410);
$color-orange-700: var(--az-orange-700, #994000);
$color-orange-600: var(--az-orange-600, #DA5A26);
$color-orange-500: var(--az-orange-500, #F3652B);
$color-orange-400: var(--az-orange-400, #F4733e);
$color-orange-300: var(--az-orange-300, #F7966e);
$color-orange-200: var(--az-orange-200, #FAB99E);
$color-orange-100: var(--az-orange-100, #FCDCCF);
$color-orange-50: var(--az-orange-50, #FEEDE7);


///////////////////
// YELLOW SCALE  //
///////////////////


$color-yellow-900: var(--az-yellow-900, #3D2F06);
$color-yellow-800: var(--az-yellow-800, #6E5407);
$color-yellow-700: var(--az-yellow-700, #9E780B);
$color-yellow-600: var(--az-yellow-600, #CE9C0E);
$color-yellow-500: var(--az-yellow-500, #FEC111);
$color-yellow-400: var(--az-yellow-400, #FECA34);
$color-yellow-300: var(--az-yellow-300, #FED767);
$color-yellow-200: var(--az-yellow-200, #FFE599);
$color-yellow-100: var(--az-yellow-100, #FFF2CC);
$color-yellow-50: var(--az-yellow-50, #FFF8E6);


///////////////////
// GREEN SCALE  //
///////////////////


$color-green-900: var(--az-green-900, #1B250E);
$color-green-800: var(--az-green-800, #354A1C);
$color-green-700: var(--az-green-700, #506F2A);
$color-green-600: var(--az-green-600, #6A9438);
$color-green-500: var(--az-green-500, #8BC249);
$color-green-400: var(--az-green-400, #9ECC66);
$color-green-300: var(--az-green-300, #B6D98C);
$color-green-200: var(--az-green-200, #CEE5B3);
$color-green-100: var(--az-green-100, #E7F2D9);
$color-green-50: var(--az-green-50, #F3F9EC);


/////////////////////
// GENERIC COLORS //
////////////////////


$color-dark-theme:  var(--azc-dark-theme, $color-gray-900);
$color-light-theme: var(--azc-light-theme, $color-gray-50);
$color-light-alabaster: var(--azc-light-theme, #F7F7F7);
$color-super-light-theme: var(--azc-super-light-theme, $color-white);

$color-primary: var(--azc-primary, $color-orange-500);
$color-primary-variant: var(--azc-primary-variant, #CC5500);

$color-secondary: var(--azc-secondary, $color-blue-500);
$color-secondary-variant: var(--azc-secondary-variant, #0E1FB2);

$color-success: var(--azc-success, $color-green-500);

$color-warning: var(--azc-warning, $color-yellow-500);

$color-error: var(--azc-error, $color-red-400);
$color-on-error: var(--azc-on-error, #C83030);


///////////////////////
// TYPOGRAPHY COLORS //
///////////////////////


$text-super-light: var(--azc-text-super-light, $color-super-light-theme);
$text-light: var(--azc-text-light, $color-gray-300);
$text-dark: var(--azc-text-dark, $color-dark-theme);
$text: var(--azc-text, $color-gray-600);

$text-link: var(--azc-text-link, $color-primary);
$text-link-variant: var(--azc-text-link-variant, $color-primary-variant);


////////////////////////////////
// BACKGROUNDS CUSTOM COLORS //
//////////////////////////////


$bg-dark: $color-dark-theme;
$bg-light: $color-light-theme;
$bg-super-light: $color-super-light-theme;
