// Request a theme color level
@function theme-color-level($color-name: "primary", $level: 0) {
    $color: theme-color($color-name);
    $color-base: if($level > 0, $black, $white);
    $level: abs($level);

    @return mix($color-base, $color, $level * $theme-color-interval);
}

//return the pixel value in rem
@function rem($size) {
    @return math.div($size, 16) * 1rem;
}

//return the vw mobile value according to the px input
@function vwMobile($size) {
    @return math.div($size, 320) * 100vw;
}

//return the vw desktop value according to the px input
@function vwDesktop($size) {
    @return math.div($size, 1920) * 100vw;
}
