@use 'sass:math';
@import '@aziontech/wpkg-styles/building-blocks/algolia-search';
@import '@aziontech/wpkg-styles/building-blocks/form';
@import '@aziontech/wpkg-styles/components/buttons';

.search-content {
	width: 50%;
	display: flex;
	flex-direction: column;

	@include media-breakpoint-down(md) {
		width: 100%;
	}

	.ais-InstantSearch {
		min-width: 100%;
	}
}

.box-content {
	display: flex;
	justify-content: center;
	min-width: 100%
}

.btn-algolia-close {
	position: absolute;
	top: 4px;
	right: 0;
	padding-right: 1rem;
	display: none;
	display: block;
	z-index: 1
}

.remove-icon {
	display: none;
}

.hits {
	padding: 2rem 1rem 0;
}

.ais-Hits-list {
	padding: 0;
}

.overline {
	letter-spacing: .5em;
	text-transform: uppercase;
	color: $color-primary;
	font-size: 16px;
}