.header-button {
	--border-color-default: var(--theme-shade-subtle);
	--border-color-hocus: var(--theme-text-light);
	--text-color-default: var(--theme-text-light);
	--text-color-hocus: var(--theme-text);
	box-sizing: border-box;
	margin: 0;
	padding: 0.48em;
	overflow: visible;
	background-color: var(--theme-header-btn);
	color: var(--color-base-white);
	font-size: 1rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1;
	cursor: pointer;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	transition-property: border-color;
	-webkit-font-smoothing: antialiased;
}

.header-button svg {
	width: 20px;
	height: 20px;
}

@media (hover: hover) {
	.header-button:hover {
		background-color: var(--color-gray-70);
	}
}
