@use 'sass:math';

@import '../../styles/tokens';
@import '../../styles/breakpoints';
@import '../../styles/functions';

.overflow-none {
	overflow: hidden;
}

.menu-link,
.dropdown-list-item a {
	display: flex !important;
}

.menu-navigation {
	display: none;
	margin-left: 1rem;

	.menu-list {
		list-style: none;
		margin: 0;
		padding: 0;

		.menu-list-item {
			position: inherit;

			&::before {
				display: none;
			}

			&:hover {
				.menu-link {
					color: $color-primary;
					border-bottom: solid 2px $color-primary;

					.arrow {
						transform: rotateZ(-180deg);

						path {
							fill: $color-primary;
						}
					}

					svg {
						path {
							stroke: $color-primary;
						}
					}

					~.dropdown-area {
						visibility: visible;
						opacity: 1;
						display: grid;
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
					}
				}
			}

			.menu-link {
				margin-right: 2.56rem;
				display: block;
				color: $text-super-light;
				font-size: 1rem;
				line-height: 5.8125rem;
				font-weight: map-get($font-weight, "regular");
				border-bottom: solid 2px transparent;
				text-decoration: none;

				@include media-breakpoint-only(md) {
					margin-right: 1rem;
				}

				&:last-child {
					margin-right: none;
				}

				.arrow {
					margin-left: 0.5rem;
					transition: all 0.4s ease;

					path {
						fill: $color-dark-theme;

						@include media-breakpoint-up("lg") {
							fill: $color-super-light-theme;
						}
					}
				}
			}

			.dropdown-area {
				@include media-breakpoint-up("lg") {
					display: none;
					position: absolute;
					top: rem(95);
					z-index: 1;
					left: 0;
					width: 100%;
					background-color: #FAFAFA;
					padding: 0 0 0 5vw;
					visibility: hidden;
					opacity: 0;
					transition: visibility 0s ease 0s, opacity 0.2s linear 0s;
				}

				@include media-breakpoint-up("slg") {
					left: 5vw;
					width: 90vw;
				}

				&.resources {
					@include media-breakpoint-up("lg") {
						left: 40%;
						transform: translateX(-50%);
						width: 65vw;
						grid-template-columns: 1fr 1fr 1fr 1fr !important;
					}

					.dropdown-list {
						.dropdown-list-item {
							&:first-of-type {
								@include media-breakpoint-up("lg") {
									padding-top: 2rem;
								}
							}

							&.hide-category {
								margin-top: 3.25rem;

								@include media-breakpoint-down(sd) {
									margin-top: 0;
								}
							}
						}

						.flag {
							@include media-breakpoint-down(sd) {
								margin-left: 1.5rem;
							}
						}
					}

					.divisor {
						padding-top: 1.5rem;

						&:after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							max-width: 8.5rem;
							height: 1px;
							background: linear-gradient(90deg, #b2b2b2 0%, rgba(178, 178, 178, 0) 100%);
						}
					}

					.flag {
						margin-left: 0.5rem;

						@include media-breakpoint-down(sd) {
							margin-left: 1.5rem;
						}
					}

					.sm_text {
						font-size: clamp(0.625rem, 0.9rem + -0.125vw, 0.75rem);
					}
				}

				&.dev-tools {
					@include media-breakpoint-up("lg") {
						left: 25%;
						width: 25%;
					}

					@include media-breakpoint-up("max") {
						left: 20%;
						width: 20%;
					}

					.dropdown-list {
						.dropdown-list-item {
							&:first-of-type {
								@include media-breakpoint-up("lg") {
									padding-top: 2rem;
								}
							}

							margin-bottom: 2rem;

							&:last-of-type {
								li {
									margin-bottom: 0;
								}
							}

							a {
								width: 100%;
							}
						}
					}
				}

				&:hover {
					@include media-breakpoint-up("lg") {
						display: grid;
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
						visibility: visible;
						opacity: 1;
					}
				}

				.dropdown-list {
					@include media-breakpoint-up("lg") {
						width: 15vw;
					}

					.dropdown-list-title {
						@include media-breakpoint-up("lg") {
							display: flex;
							align-items: center;
							padding-left: 1rem;
							padding: 2rem 0;
							font-size: rem(12);
							line-height: 160%;
							letter-spacing: .5em;
						}
					}

					.dropdown-list-item {
						&:last-of-type {
							@include media-breakpoint-up("lg") {
								padding-bottom: 2rem;
							}
						}

						.category {
							&.p-adjust {
								@include media-breakpoint-up("lg") {
									margin: rem(24) 0 0;
								}
							}

							@include media-breakpoint-up("lg") {
								font-size: 1rem;
								line-height: 150%;
							}
						}

						a {
							@include media-breakpoint-up("lg") {
								font-size: rem(16);
								line-height: rem(24);
								transition: all 0.2s ease;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 50em) {
		position: inherit;
		display: flex;
	}
}

.navigation-secondary {
	&.enabled-search {
		position: absolute;
		margin: 0;

		@include media-breakpoint-up("sm") {
			width: 100vw;
			max-width: 100vw;

			display: flex;
		}

		@include media-breakpoint-up("lg") {
			position: relative;
			left: initial;
			width: auto;
			max-width: auto;
		}

		.group-buttons,
		.btn-search,
		.btn-menu-burguer {
			display: none;
		}

		.btn-close-search,
		.form-search {
			display: block;
		}
	}

	.group-buttons {
		@include media-breakpoint-up("sm") {
			display: none;
		}

		@include media-breakpoint-up("lg") {
			display: block;
		}
	}

	.form-search {
		display: none;
		background-color: $color-gray-800;
		width: 100%;

		.input-transparent {
			.icon {
				&-search {
					position: relative;
					top: 0.3125rem;
				}
			}

			input {
				background-color: $color-gray-800;
				border: none;
				color: $text;
				width: 100%;
				color: $text-super-light;
				font-size: 0.875rem;
				padding-left: 1rem;
				padding-right: 1rem;
				margin: 0;

				&:focus,
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					background-color: transparent;
					outline: none;
					border: none;
					box-shadow: 0 0 0px 1000px $color-gray-800 inset;
				}
			}
		}
	}

	.btn-close-search {
		display: none;
		background-color: $color-gray-800;
		border: none;
		padding: 0;
		border: none;
		width: 2.2rem;
		height: 2.68rem;
		position: relative;

		&:hover {
			cursor: pointer;

			.icon {
				svg {
					fill: $color-primary;
				}
			}
		}

		&:active {
			.icon {
				svg {
					fill: $color-primary-variant;
				}
			}
		}

		.icon {
			top: 0.125rem;
			left: -0.3rem;
			position: relative;

			svg {
				fill: $text-super-light;
			}
		}
	}

	.btn-link-menu {
		text-transform: unset;
		margin: 0 0.75rem 0 0;
		font-weight: 400;

		&:hover {
			border-bottom: solid 2px $color-primary;
		}
	}
}

.btn-search {
	padding-top: 0;
	padding-left: 14px;
	padding-bottom: 0;

	@include media-breakpoint-up("sm") {
		padding-right: 0;
	}

	.icon {
		left: 0;
	}
}

.btn-free-account {
	margin-left: 0;
}

.general-overlay {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	display: none;
	top: 4rem;

	@include media-breakpoint-up("lg") {
		top: 0;
	}
}

.sidebar-resource,
.mobile-navigation {
	nav {
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		padding-bottom: 92px;

		.strong {
			list-style: none;
			padding: 0;
			margin: 0;

			a {
				position: relative;
				font-size: 1rem;
				line-height: 1.5rem;
				color: $text-dark;

				&.menu-link {
					font-weight: 700;
				}

				&.current {
					color: $color-primary;
				}

				.arrow {
					position: absolute;
					top: 50%;
					right: 1rem;
					transform: translateY(-50%);
					transition: all 0.4s ease;

					path {
						fill: $color-dark-theme;
					}
				}

				&.menu-link-back {
					text-indent: 1rem;

					.arrow {
						left: 1rem;
						top: 42.5%;
						transform: rotate(90deg);
					}
				}
			}
		}

		.weak {
			margin: 2.5rem 0 4rem;
			padding-left: 0;

			li {
				display: flex;
				align-items: center;

				&:before {
					display: none;
				}

				a {
					font-size: 0.875rem;
					color: $color-gray-600;
					margin-right: 1.5rem;
					display: flex;
					align-items: center;
				}

				.flag {
					font-size: 12px;
					line-height: 100%;
				}
			}
		}

		.strong,
		.weak {

			p,
			a {
				display: block;
				line-height: 2.875rem;

				@include media-breakpoint-up("sm") {
					padding-left: 1rem;
				}
			}
		}

		.buttons {
			background-color: $bg-super-light;
			width: 100%;
			position: absolute;
			bottom: 0;
			padding-top: 1rem;
			padding-bottom: 1rem;
			display: flex;

			@include media-breakpoint-up("sm") {
				padding: 1rem;
			}

			.btn {
				width: 49%;
			}
		}
	}
}

.mobile-navigation {
	padding-top: 1rem;
	transition: all 200ms;
	position: fixed;
	right: -100%;
	z-index: 9999;
	width: 100%;
	bottom: 0;
	top: 0;
	display: block;
	overflow: hidden;
	top: 4rem;
	background: $bg-super-light;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);

	@include media-breakpoint-up("md") {
		width: 40vw;
	}

	@include media-breakpoint-up("lg") {
		display: none;
	}
}

.mobile-menu-opened {
	overflow: hidden;

	.mobile-navigation {
		right: 0;
	}

	.general-overlay {
		display: block;
	}

	.form-search,
	.enabled-search .form-search,
	.enabled-search .btn-close-search,
	.btn-close-search,
	.btn-search {
		display: none !important;
	}

	.mobile-menu-docs {
		height: 100vh;
		overflow-x: scroll;
	}
}

// THIS IS THE DEFAULT USED TO
// SIDEBAR VISUALIZATION
.sidebar-resource {
	.menu-navigation {
		.dropdown-area {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.5s ease-out;

			&.active {
				max-height: none;
			}
		}
	}

	nav {
		padding-bottom: 252px; // footer height, used at bottom page to footer not be over left sidebar documentation
	}

	.dropdown-list-item {
		a {
			&.active {
				color: $color-primary;
			}
		}
	}
}

.menu-navigation,
.mobile-navigation {

	.menu-link {
		&.active {
			.arrow {
				transform: rotateZ(180deg) translateY(50%);

				path {
					fill: $color-primary;
				}
			}
		}
	}

	.dropdown-area {
		@include media-breakpoint-down("sd") {
			overflow: hidden;
			transition: max-height 0.5s ease-out;
		}

		&:hover {
			display: inline-block;
		}

		&.active {
			display: block;
		}

		.dropdown-list,
		.dropdown-highlights {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			vertical-align: top;
		}

		.dropdown-list {
			width: 100%;

			.dropdown-list-title {
				display: inline-block;
				font-size: rem(10);
				line-height: rem(16);
				margin-bottom: 0;
				padding: 0 1rem 1rem;
				letter-spacing: 0.5em;

				i {
					margin-left: 0.5rem;

					img {
						height: 24px;
						width: auto;
						vertical-align: middle;
					}
				}
			}

			.dropdown-list-item {
				padding: 0.5rem 0;

				&.category-item {
					padding: 0 0 1.5rem 0;
				}

				&.category-observe {
					padding: 0;
				}

				&::before {
					display: none;
				}

				&:first-of-type {
					padding-top: 0;
				}

				&:last-of-type {
					padding-bottom: 1rem;
				}

				&.docs-mobile {
					a {
						width: 100%;
					}
				}

				&.divisor {
					margin-top: 1rem;
					padding-top: 1.2em;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						max-width: 8.5rem;
						height: 1px;
						background: linear-gradient(90deg, #b2b2b2 0%, rgba(178, 178, 178, 0) 100%);
					}
				}

				&.divisor,
				&.btn-tertiary-light {
					@include media-breakpoint-down(sd) {
						margin-left: 1rem;
					}

					a {
						padding-left: 0;
						text-transform: unset;
						text-decoration: underline;
						width: fit-content;
						padding-top: 0;
						padding-bottom: 0;

						.icon-right-arrow {
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}

				.category {
					display: inline-block;
					font-size: rem(14);
					line-height: 200%;
					color: $color-gray-700;
					font-weight: 600;

					&.p-adjust {
						margin-top: 1rem;
					}

					&.current {
						color: $color-dark-theme;
						font-weight: map-get($font-weight, "medium");
					}
				}

				.flag {
					margin-left: 1.5rem;
				}

				.sm_text {
					font-size: clamp(0.625rem, 0.9rem + -0.125vw, 0.75rem);
				}

				a {
					font-size: rem(14);
					line-height: rem(28);
					color: $color-gray-700;

					&.current {
						color: $color-gray-800;
						font-weight: map-get($font-weight, "medium") !important;
					}

					&:hover {
						color: $color-primary;
					}
				}
			}
		}

		.dropdown-highlights {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			margin-left: auto;
			width: 25vw;

			.dropdown-highlights-item {
				display: flex;
				align-items: center;
				flex: 1;
				padding-left: 4vw;
				background-color: $color-super-light-theme;
				border-top: 1px solid $color-light-theme;
				border-right: 2px solid $color-light-theme;
				border-bottom: 1px solid $color-light-theme;
				border-left: 2px solid transparent;
				transition: all 0.2s ease;

				&:last-of-type {
					border-bottom: 2px solid $color-light-theme;
				}

				&:hover {
					border-left: 2px solid $color-primary;

					.highlight-wrap {
						span {
							color: $color-primary;
							font-weight: 500;
						}

						p {
							color: $color-primary;
						}
					}
				}

				li {
					display: flex;
					align-items: center;

					&::before {
						display: none;
					}
				}

				.icon {
					width: 5.5vw;

					img {
						height: 2.375rem
					}
				}

				.highlight-wrap {
					padding: 2.359375rem 0.5rem 2.03625rem;

					span {
						font-size: rem(20);
						line-height: rem(24);
						color: $color-gray-800;
						display: block;
					}

					p {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						max-width: 10vw;
						font-size: rem(16);
						line-height: rem(19);
						color: $color-gray-600;
					}
				}
			}
		}
	}
}
