.theme-toggle {
	display: inline-flex;
	align-items: center;
	/* Indicates the ThemeToggle boundaries for forced colors users, transparent is changed to a solid color */
}

.theme-toggle label:hover {
	background-color: var(--color-gray-70);
}

.theme-toggle>label:focus-within {
	outline: 1px solid transparent;
}

.theme-toggle>label {
	color: var(--color-base-black);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	cursor: pointer;
	padding: 0.33em 0.67em;
	border-radius: 99em;
	outline: 1px solid transparent;
	background-color: var(--color-gray-80);
}

.theme-toggle .checked {
	color: var(--color-base-white);
	opacity: 1;
}

@media (forced-colors: active) {
	.theme-toggle .checked {
		color: Highlight;
	}
}

.hide-toggle-on-smaller-screens {
	display: inline-flex;
}

@media (min-width: 50em) {
	.theme-toggle {
		margin-top: 0;
	}
}

input[name='theme-toggle'] {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
