---
import UIString from '~/components/UIString.astro';

interface Props {
  breadcrumbs: Array<{
    title: string;
    link: string;
  }>;
  lang: string;
}

const { breadcrumbs, lang } = Astro.props as Props;
---

<ul class="breadcrumb-list">
  {
    breadcrumbs.map(({ title, link }, index) => {
      const isCurrentPage = Astro.url.pathname.endsWith(link) ? true : false;
      return (
        <li class={isCurrentPage ? 'active' : ''}>
          <a href={`/${lang}${link}`}>
            {index == 0 && breadcrumbs.length > 1 ? (
              <i class="icon icon-home" />
            ) : breadcrumbs.length > 1 ? (
              title
            ) : (
              <>
                <i class="icon icon-home mr-05" />  <UIString key="breadcrumb.home"/>
              </>
            )}
          </a>
          <i class="icon icon-arrow-right-small-gray"> </i>
        </li>
      );
    })
  }
</ul>

<style lang="scss">
  .breadcrumb-list {
    list-style: none;
    display: block;
    padding: 0;
    padding-inline-start: 0 !important;

    li,
    li a {
      font-size: 0.875rem;
    }

    li {
      &:after,
      &:before {
        display: none;
      }

      line-height: 1rem;
      display: inline-block;

      a {
        color: var(--theme-text);
        line-height: 2.5rem;
        display: inline-block;

        &:hover {
          color: var(--color-orange-variant);

          .icon-home {
            background-color: var(--color-orange-variant);
          }
        }
      }

      a,
      .icon-home {
      }

      .icon {
        background-position: 0 4px;
        background-color: var(--theme-text);
        display: inline-block;

        &.icon-arrow-right-small-gray {
          margin: 0 0.5rem;
          width: 6px;
          height: 10px;
          -webkit-mask: url(/assets/docs/images/icons/icon-arrow-right-small-gray.svg) no-repeat
            100% 100%;
          mask: url(/assets/docs/images/icons/icon-arrow-right-small-gray.svg) no-repeat 100% 100%;
          -webkit-mask-size: cover;
        }

        &.icon-home {
          height: 14px;
          width: 16px;
          -webkit-mask: url(/assets/docs/images/icons/icon-home.svg) no-repeat 100% 100%;
          mask: url(/assets/docs/images/icons/icon-home.svg) no-repeat 100% 100%;
          -webkit-mask-size: cover;
        }
      }

      &.active a {
        color: var(--color-orange);

        &:hover {
          color: var(--color-orange-variant);
        }

        .icon {

					&.mr-05 {
						margin-right: .5rem;
					}

          background-color: var(--color-orange);
          background-position: 0 4px;
          display: inline-block;

          &.icon-home {
            height: 14px;
            width: 16px;
            -webkit-mask: url(/assets/docs/images/icons/icon-home.svg) no-repeat 100% 100%;
            mask: url(/assets/docs/images/icons/icon-home.svg) no-repeat 100% 100%;
            -webkit-mask-size: cover;
          }
        }
      }

      &:last-child {
        .icon {
          display: none;
        }
      }
    }
  }
</style>
