.content-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 5%;
}

.lang-wrapper {
	display: flex;
	justify-content: space-between;
}
.menu-wrapper {
	display: grid;
	grid-template-columns: calc(20% - 1rem) calc(70% - 1rem);
	gap: 5%;

	// @include media-breakpoint-up(xlg) {
	// 		gap: 15%
	// }

	// @include media-breakpoint-down(sd) {
	// 		display: flex;
	// 		flex-direction: column;
	// 		gap: 0;
	// };
}

.lang-wrapper {
	display: flex;
	align-items: center;

	// @include media-breakpoint-down(md) {
	// 		flex-direction: column;
	// 		align-items: flex-start;
	// };
}

.azfooter {
	overflow: hidden;
	background-color: var(--theme-bg);
	padding: 3.5rem 0 1.5rem;
	width: 100%;

	.sales-and-support {
			color: var(--theme-text-lighter);
			font-size: 1rem;
			line-height: 150%;
			margin: 1rem 0 0;
			.phone-number {
					display: inline-block;
			}
	}
	.footer-links-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem 1rem;
			grid-template-areas: "contact contact"
													"resources pricing"
													"company company";
			margin-top: 3rem;
			// @include media-breakpoint-up(md) {
			// 		grid-template-columns: repeat(3, 1fr);
			// 		grid-template-areas: "resources company pricing"
			// 												"contact contact ."
			// }
			// @include media-breakpoint-up(sd) {
			// 		gap: 2rem;
			// 		grid-template-columns: repeat(5, 1fr);
			// 		grid-template-areas: "resources company pricing contact contact"
			// }
			// @include media-breakpoint-up(lg) {
			// 		margin-top: 0rem;
			// 		gap: 1rem;
			// }
			ul {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
							&:before {
									display: none;
							}

							&.column-title {
									color: var(--theme-text-light);
									font-size: 1rem;
									font-weight: 500;
									margin-bottom: 1rem;
							}
							.footer-link {
									color: var(--theme-text-lighter);
									font-size: 0.875rem;
									display: inline-block;
									margin-bottom: 0.5rem;
									&:hover {
											color: var(--color-orange-variant);
									}
									// @include media-breakpoint-up(md) {
									// 		font-size: 1rem;
									// }
							}
							.flag-primary {
									color: var(--theme-text-lighter);
									margin-right: 0.5rem;
									font-size: 12px;
							}
					}
					&:nth-of-type(1){
							grid-area: resources;
					}
					&:nth-of-type(2){
							grid-area: company;
					}
					&:nth-of-type(3){
							grid-area: pricing;
					}
					&:nth-of-type(4){
							grid-area: contact;
							display: grid;
							grid-template-columns: 1fr 1fr;
							column-gap: 1rem;
							grid-auto-rows: min-content;
							li:first-of-type {
									grid-column: span 2;
							}
							// @include media-breakpoint-up(sd) {
							// 		column-gap: 2rem;
							// 		grid-column: span 2;
							// }
							// @include media-breakpoint-up(lg) {
							// 		column-gap: 1rem;
							// }
					}
			}
	}
	hr {
			display: none;
			border: none;
			border-bottom: solid 1px var(--theme-bg-offset);
			margin-top: 2rem;
			margin-bottom: 2rem;
			max-width: 100%;
			width: 100%;
			// @include media-breakpoint-up(sd) {
			// 		display: block;
			// }
	}
	.language-selector {
			font-size: 1rem;
			margin: 2rem 0;
			// @include media-breakpoint-up(sd){
			// 		margin: 0;
			// }
			.language-link {
					color: var(--theme-text-lighter);
			}
	}
	.copyright {
			font-size: 12px;
			line-height: 1.5;
			margin: 0 0 1rem;
			// @include media-breakpoint-up(sd){
			// 		text-align: right;
			// 		line-height: 1;
			// 		margin: 0;
			// }
	}
}
