---
import type { MarkdownHeading } from 'astro';

import MainLayout from './MainLayout.astro';

import type { HomepageEntry } from '~/content/config';
import CardsList from '~/components/HomePages/Cardlist.astro';
import ReadableContent from 'azion-webkit/readablecontent';

export interface Props {
	content: HomepageEntry['data'];
	headings: MarkdownHeading[];
	id: String;
}

const { content } = Astro.props;
---

<MainLayout {...Astro.props}>
	<ReadableContent>
		<p>
			{content.description}
		</p>
	</ReadableContent>

	<CardsList data={content.product_cards} />
</MainLayout>
