---
import MainLayout from './MainLayout.astro';
import type { MarkdownHeading } from 'astro';
import type { HomepageEntry } from '~/content/config';
import CardsList from '~/components/Homepage/CardsList';

export interface Props {
	content: HomepageEntry['data'];
	headings: MarkdownHeading[];
	id: String;
}

const { content } = Astro.props;
---

<MainLayout {...Astro.props}>
	<p>{content.description}</p>
	<CardsList data={content.product_cards} />
</MainLayout>
