name: Documentation production pipeline
on:
  push:
    branches:
      - main
    workflow_dispatch:
      inputs:
        branch:
          required: true
          type: choice
          default: main
          options:
            - main

jobs:
  deploy:
    name: Production publising
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: SETTING Node and Github Packages
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: 'npm'

      - name: INSTALLING DEPENDENCIES
        run: |
          npm install

      - name: BUILD
        run: |
          export NODE_OPTIONS="--max-old-space-size=8120"
          export PUBLIC_GITHUB_TOKEN="${{ secrets.GH_PACKAGES_SECRET }}"
          npm run build:prod

      - name: UPDATE Algolia data
        run: |
          npm install algoliasearch stream-json
          node cicd/algolia-reindex.cjs app=${{ secrets.ALGOLIA_CONF_APP }} api=${{ secrets.ALGOLIA_CONF_API }}

      - name: 'AUTH Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_EXP_ENG }}

      - uses: 'google-github-actions/setup-gcloud@v2'
        with:
          version: '>= 363.0.0'
          
      - name: PUBLISHING
        run: |
          gsutil -m rsync -r -d dist  gs://azdocs

      - name: UPDATING Google Cloud Storage files Cache-Control header
        run: |
          gcloud storage objects update -r gs://azdocs --cache-control="public, max-age=120"

      - name: PURGE Edge Cache
        run: |
          npm install axios
          node ./cicd/cdn-purge.js basic_token=${{ secrets.MKT_BASIC_TOKEN }}
        env:
          
      # - name: Bing IndexNow submit URLs
      #   run: apt-get update && apt-get install -y jq curl && ./cicd/indexNow/submit-indexnow.sh
