name: Documentation production pipeline
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Production publising
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT project
        uses: actions/checkout@v4
        with:
          repository: aziontech/docs
          ref: main
          path: '.'
          clean: true
          fetch-depth: '0'
          lfs: 'false'
      
      - name: SETTING Node and Github Packages
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          registry-url: 'https://npm.pkg.github.com'
          scope: '@aziontech'
          always-auth: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGES_SECRET }}
      
      - name: INSTALLING DEPENDENCIES
        run: npm install

      - name: CHECKER MEMORY
        run: npm run check-memory

      # - name: CHECKER
      #   run: npm run check
      
      - name: BUILD
        run: export NODE_OPTIONS="--max-old-space-size=8120" && export PUBLIC_GITHUB_TOKEN="${{ secrets.GH_PACKAGES_SECRET }}" && npm run build
      
      - name: PREPARE TO DEPLOYMENT
        run: rm -rf .eslintignore .eslintrc.js .prettierignore .prettierrc .nvmrc .npmrc pnpm-lock.yaml .astro .github node_modules src .editorconfig .gitignore astro.config.ts LICENSE package-lock.json package.json README.md tsconfig.json public plugins .git CODE_OF_CONDUCT.md helpcenter-cleaner.js postcss.config.js

      - name: PREPARE DIST FOLDER
        run: mv dist/* ./ && rm -rf dist; ls -la;
      
      - name: DEPLOYMENT
        uses: patrickwyler/gcs-bucket-sync-action@1.3
        with:
          secrets: ${{ secrets.GCP_EXP_ENG }}
          bucket: azdocs
      
      - name: PURGE Documentation
        run: npm install axios && node cicd/cdn-purge.js basic_token=${{ secrets.MKT_BASIC_TOKEN }}

      - name: UPDATE Algolia data
        run: npm install algoliasearch stream-json && node cicd/algolia-reindex.cjs app=${{ secrets.ALGOLIA_CONF_APP }} api=${{ secrets.ALGOLIA_CONF_API }}
