name: Documentation stage pipeline
on:
  push:
    branches:
      - stage
jobs:
  deploy:
    name: Development publising
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT project
        uses: actions/checkout@v4
        with:
          repository: aziontech/docs
          ref: stage
          path: '.'
          clean: true
          fetch-depth: '0'
          lfs: 'false'
      - name: SETTING Node and Github Packages
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
      - name: INSTALLING DEPENDENCIES
        run: |
          npm install
          npm run tsc
      - name: BUILD
        run: |
          export NODE_OPTIONS="--max-old-space-size=8120"
          export PUBLIC_GITHUB_TOKEN="${{ secrets.GH_PACKAGES_SECRET }}"
          npm run build-stage
      - name: PREPARE TO DEPLOYMENT
        run: |
          rm -rf .eslintignore .eslintrc.js .prettierignore .prettierrc .nvmrc .npmrc pnpm-lock.yaml .astro .github node_modules src .editorconfig .gitignore astro.config.ts LICENSE package-lock.json package.json README.md tsconfig.json public plugins cicd .git CODE_OF_CONDUCT.md helpcenter-cleaner.js postcss.config.js
      - name: PREPARE DIST FOLDER
        run: |
          mv dist/* ./
          rm -rf dist
      - name: PUBLISING
        uses: patrickwyler/gcs-bucket-sync-action@1.3
        with:
          secrets: ${{ secrets.GCP_EXP_ENG }}
          bucket: azdocs-stage
      - name: INSTALL gcloud CLI
        run: |
          apt-get update && apt-get install -y curl apt-transport-https ca-certificates gnupg
          curl -fsSL https://packages.cloud.google.com/apt/doc/apt-key.gpg | gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg
          echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
          apt-get update && apt-get install -y google-cloud-sdk
      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_EXP_ENG }}
      - name: UPDATING cache-control header from Google Cloud Storage
        run: |
          gcloud storage objects update -r gs://azdocs-stage --cache-control="public, max-age=120"
          